<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Narrativia</a>
        </div>
        <div class="navbar-collapse collapse" *ngIf='pagesForHeader'>
            <ul class="nav navbar-nav" *ngFor='let page of pagesForHeader'>
                <li>
                    <a [routerLink]="['/page', page.title]">
                        <span class="glyphicon {{ page.iconIdentifier }}"></span> {{ page.displayName }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
