<div class='row'>
    <div class='col-sm-2'></div>
    <div class='col-sm-10'>
        <div *ngIf="loading" class="loader"></div>
    </div>
    <div class='col-sm-2'></div>
</div>
<div *ngIf='!loading' class='blog-post-list'>
    <h1>All blog posts</h1>
    <div class="table-responsive">
        <table class='table table-hover' *ngIf='blogPosts'>
            <thead>
                <tr>
                    <th>Header Image</th>
                    <th>Title</th>
                    <th>Excerpt</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor='let blogPost of blogPosts'>
                <td>
                    <img src="{{ blogPost.headerImageUrl }}" class="img-responsive header-image"/>
                </td>
                <td>
                    <a [routerLink]="['/blogPost', blogPost.id]">
                        {{ blogPost.title }}
                    </a>
                </td>
                <td>{{ blogPost.excerpt }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>